body {
  padding-top: 50px;
}

.nav .active {
  border-bottom: 2px solid lightpink;
}

.shows-list .poster img {
  width: 100px;
}

.shows-list .name {
  white-space: nowrap;
}

.shows-list .description {
  width: 80%;
}