body {
  padding-top: 50px;
}

.nav .active {
  border-bottom: 2px solid lightpink;
}

.shows-list .poster img {
  width: 100px;
}

.shows-list .family {
  text-align: center;
}

.shows-list .family i {
  font-size: 30px;
}

.shows-list .description {
  width: 80%;
}